/* 
    全局样式css
        在main.js中引入
        文件在 html指定 class名即可
            命名格式： .global_组件类型 空格 组件类型_二级类型
            eg: clss='global_btn btn_primary'
*/
:root {
    /* 配色表 */
    --backcolor:rgb(228,235,245);
    --white:rgb(255,255,255);

    /* 页首 页尾巴 */
        --hfcolor: rgba(228,235,245, 0.897); /*  */
    /* button */
        /* 大小 */
        --width: 6rem;
        --width2: 3rem; /* width/2 用于翻页 Alist-prew */
        --height: 3rem;
        --texSize: 1rem;
        --border-radius: 1rem;                /* 倒角 */
        /* 颜色 */
        --color: rgb(109,93,252); 		    /* 按钮颜色 */
        --color2: rgb(250, 250, 250); 		/* 按钮颜色 */
        --tex: var(--backcolor);			/* 深按钮 字体颜色 */
        --tex2: rgb(92, 175, 230);			/* 浅按钮 字体颜色 */
        --hightLight: rgb(138,189,255); 	/* 按钮 高光 */
        --dark: rgb(91,14,235);			/* 按钮 暗部 */
        --topShadow: var(--white);	/* 上边框 阴影 */
        --belowShadow: rgb(155,170,207); 	/* 下边框 阴影 */
}

/* 取消下划线 */
a {
    text-decoration: none;
}
.router-link-active {
    text-decoration: none;
}

/* button */
/* <div> */
        /* 常用重设
        .global_btn {
            position: relative;
            left: 90%;
            border-radius: 1.6rem;
            width: 6rem;
            height: 3rem;
        }
        .btn p {
            font-size: 1rem;
        }  */
    .global_btn {
        width: var(--width);
        height: var(--height);
        border-radius: var(--border-radius);
        box-shadow: 
            0.3rem 0.3rem 0.6rem var(--belowShadow), 
            -0.2rem -0.2rem 0.5rem var(--topShadow);
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s ease;
    }
    /* 内部文字 用<p> </p>包围 */
    .global_btn p {
        font-size: var(--texSize);
    }
    .btn__primary {
        grid-column: 1/2;
        grid-row: 4/5;
        background: var(--color);
        box-shadow: 
            inset 0.2rem 0.2rem 1rem var(--hightLight),
            inset -0.2rem -0.2rem 1rem var(--dark), 
            0.3rem 0.3rem 0.6rem var(--belowShadow), 
            -0.2rem -0.2rem 0.5rem var(--topShadow);
        color: var(--tex);
    }
    .btn__primary:hover {
        color: var(--topShadow);
    }
    .btn__primary:active {
        box-shadow: 
            inset 0.2rem 0.2rem 1rem var(--dark), 
            inset -0.2rem -0.2rem 1rem var(--hightLight);
    }
    .btn__secondary {
        background: var(--color2);
        grid-column: 1/2;
        grid-row: 5/6;
        color: var(--tex2);
    }
    .btn__secondary:hover {
        color: var(--color);
    }
    .btn__secondary:active {
        box-shadow: 
            inset 0.2rem 0.2rem 0.5rem var(--belowShadow), 
            inset -0.2rem -0.2rem 0.5rem var(--topShadow);
    }


/* 下拉框 */
    /* 容器 <div> - 需要定位下拉内容 */
    .global_dropdown {
        position: relative;
        display: inline-block; /* 不换行 */
    }
    /* 下拉内容 (默认隐藏) */
    .global_dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    /* 下拉菜单的链接 */
    .global_dropdown-content a {
        color: var(--tex2);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        /* display 不受transsition影响 */
        /* TODO：css动画 display动画 */
    }
    /* 鼠标移上去后修改下拉菜单链接颜色 */
    .global_dropdown-content a:hover {
        /* 变换速率 */
        transition: 0.3s ease; 
        background-color: #f1f1f1;
        color: black;
        box-shadow: 
            inset 0.2rem 0.2rem 0.5rem var(--belowShadow), 
            inset -0.2rem -0.2rem 0.5rem var(--topShadow);
    }
    /* 在鼠标移上去后显示下拉菜单 */
    .global_dropdown:hover .global_dropdown-content {
        display: block;
    }
    /* 当下拉内容显示后修改下拉按钮的背景颜色 */
    .global_dropdown:hover .dropbtn {
        background-color: rgb(190, 190, 190);
    }